@import "tailwindcss";
* {
  box-sizing: border-box;
}
@theme {
  --font-pirate: "pirate", sans-serif;
}

@font-face {
  font-family: "pirate";
  src: url("/fonts/Pirate Kids.otf");
}

:root {
  --leftt: 10px;
  --op: 0;
  --bg-modal-blur: 0px;
}
